.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
textarea{
    width: 50vw;
    height: 50vh;
    padding: 10px;
}

.button{
    display: flex;
    justify-content: end;
}
button{
    padding: 5px 10px;
}
.status{
    margin-bottom: 24rem;
    padding: 0 20px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgba(7, 255, 7, 0.514);
}